@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:rgb(42,91,215);
    --url-primary-color:rgb(11,23,54);
    --url-button-color:rgb(27,57,135);
    --font-color:rgb(54,56,59);
    --primary-font-color:#ffffff;
    --second-font-color:#000000;
    --second-primary-color:#525BE4; 
    --margin-distance:5rem 0rem;
    --body-padding:1rem 1rem;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    height: 95vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}